body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 2px 2px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.9);
}

nav .logo{
    margin: 20px 10px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(197,217,68,0.6);
}

.logo:hover{
    color: hsl(68, 66%, 56%);
}

.cover{
    width: 100%;

}

.cover-heading{
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
}

.cover-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 40px 0;
    text-align: center;
    color: #fff;
    border: #fff solid 4px;
    background-color: rgba(0,0,0,0.5);
}

.cover-text p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
}

.cover-text a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: #fff solid 1px;
    padding: 10px;
}

.home-image{
    margin-left: 15%;
    margin-right: 15%;
    width:70%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-heading{
    color: hsl(240, 1%, 40%);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}

.container-para{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: hsl(240, 1%, 40%);
    padding: 10px;
    line-height: 300%;
}

.container-btn{
    font-family: Arial, Helvetica, sans-serif;
    color:#D4AF37;
    text-align: center;
    background-color: hsl(240, 1%, 40%);
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 10px;
}

.quotes{
    font-size: 50px;
    font-family:cursive;
    line-height: 80%;
    color: hsl(240, 1%, 40%);
}

.title-hr{
    width: 20%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: none;
    background-color: #D4AF37;
}

.footer{
    width: 100%;
    background-color: black;
    margin-bottom: 0px;
}
